<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="abc.properties">
		<property name="proName1" value="proValue1" />
		<property name="proName2" value="proValue2" />
	</properties>
	
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias type="com.gao.model.Order" />
		<typeAlias type="com.gao.model.OrderDO" />
		<typeAlias type="com.gao.model.NewOrderDO" />
		<package name="com.gao.entity" />
	</typeAliases>




	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="root123" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!--使用注解的方式 -->
		<mapper resource="com/gao/mapper/UserMapper.xml" />
		<package name=""/>
	</mappers>

</configuration>